@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
    color: white;
    zoom: 200%;
}



.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home{

    padding-left: 20px

}

.home ul li{
    width: 25px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 15px;
    align-items: center;

}

.heading{
        width: 100%;
        list-style: none;
        display: flex;
        gap: 15px;
        
        align-items: center;

}

.library{
    min-height: 70vh;
    position: relative;
}
.heading img{
    width: 25px;
}

.heading h2{
    font-size: 15px;
}

.footer{
    display: flex;
    font-size: 11px;
    gap: 22px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    flex-wrap: wrap;
    
}
.footer a{
    color: #8c8c8c;
    text-decoration: none;
    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color:#0f0f0f;
    height: 75px;
}

.header > *{
    padding: 10px;
}

.sotifyPlalist{
    padding: 16px;
}

.sotifyPlalist .card{
    width: 178px;
    padding: 10px;
    border-radius: 5px;
    background-color: #181818;
    position: relative;
}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
    overflow-y: auto;
    max-height: 70vh;
}
.card:hover{
    background-color: rgb(46, 43, 43);
    transition: all 0.9s;
    --a:1;
}

.card > *{
    padding-top: 5px;

}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.card h2,p{
    font-size: 15px;
}

.circular-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #1ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 160px;
    right: 16px;
    opacity: var(--a);
    transition: all 1s ease-out;
    
  }



  .svg-icon {
    width: 30px;
    height: 30px;
  }

  .buttons > *{
    margin: 0 15px;
  }

  .signup_btn{
    background-color: #0f0f0f;
    color: rgb(209, 204, 204);
    font-weight: bold;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}
  
.signup_btn:hover{
    font-size: 15px;
    color: white;
}

.login_btn{
    background-color: white;
    color:black;
    font-weight: bold;

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    
    padding:15px 30px ;
}

.login_btn:hover{
    font-size: 16px;
    padding: 17px 32px;
    transition-delay: 1s  ease-in;

}

.playbar{
    height: 39px;
    position: fixed;
    bottom: 40px;
    background-color: #cfd4d1;
    padding: 12px;
    filter: invert(1);
    background-color: #d8d2d2;
    border-radius: 20px;
    color: black;
    width: 34vw;
   
   
}
.songButtons{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 160px;
    /* margin-right: 132px; */
    
}

.songButtons img{
    cursor: pointer;
}


.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    padding: 12px 0;
    border: 2px solid white;
    margin: 10px 0;
    padding: 13px;
    border-radius: 7px;
    font-size: 15px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.playnow span{
    font-size: 14px;
    width: 64px;
    
}
.songList{
    margin-top: 10px;
    height: 350px;
    overflow: auto;
}

.songList .info{
    font-size: 14px;
}

.seekbar{
    height: 3px;
    width: 98%;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px ;
    margin: 12px 0;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #0f0f0f;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songinfo .songtime{
    padding: 0 20px;
    
}
.songinfo{
    width: 250px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}

.hamburger{
    display:none;
}
.Close{
    display: none;
}

.music{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.volume{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.range input{
    cursor: pointer;
}

 /* @media (max-width:1400px) { 
    .left{
        width: 272px;
        background-color: red; 
        background-color: #0f0f0f;
        position:absolute;
        left:-250%;
        transition: all .3s;
        z-index: 1;
        padding: 0;

    }
   .music{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
   }

    .right{
        width: 100vw;
        padding: 0;
    }
    .playbar{
        width: 92%;
        
    }

    .hamburger{
        display: block;
    }
    .Close{
        display: block;
        
    }

    .left .Close{
        position: absolute;
        right: 5px;
        top: 40px;
    }
    .sotifyPlalist .card {
        width: 112px;
    }
    .songList .info{
        font-size: 10px;
    }
    .songList ul li{
        gap: 13px;
    }
    .seekbar{
        width: 95%;
    }
    .songButtons{
        margin: auto;
    }
    
    
   
    
}

@media (max-width:670px) {
    .abovebar{
        flex-direction: column;
        gap: 10px;
        align-items: center;

    }
    .signup_btn{
        font-size: 12px;

    }
    .login_btn{
        font-size: 10px;
        
    }
    
    .nav{
        display: flex;
    }

    .buttons{
        display: flex;
    }
    .playbar{
        width: 41vw;
        height: 110px;
        
    }
    .seekbar{
        width: 92%;
        
    }
    .songinfo{
       width: auto;
    }
    .sotifyPlalist .card {
        width: 95px;
    }
    .card h2, p {
        font-size: 11px;
    }

    .sotifyPlalist >h1{
        font-size: 20px;
        text-align: center;
    }
    .songList .info{
        font-size: 10px;
    }
    .songList ul li{
        gap: 13px;
    }
    .music{
        flex-direction: column;
        gap: 3px;
    }
}
 @media (max-width:380px){
    .abovebar{
        flex-direction: column;
        gap: 10px;
        align-items: center;

    }

    .playbar{
        height: 138px;
        
        
    }
    .songinfo{
        width: auto;
    }
    .songButtons{
        margin: auto;
    }
    .music{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        flex-direction: column;
       }
       .seekbar{
        width: 92%;
        margin-bottom: 19px;
        
    }
} 
*/   

 



